src/view/about.pug
extends include/main

block variables
  - let title = 'Движение против рака'
  - let description = ''
  - let page = 'about'
  -
    let menu = [
      { url: '/about.html', title: 'Наша деятельность' },
      { url: '#', title: 'История движения' },
      { url: '#', title: 'Наши документы' },
      { url: '#', title: 'Форумы движения' },
      { url: '#', title: 'Отношения со спонсорами' },
      { url: '#', title: 'Новости движения' },
      { url: '#', title: 'Наша презентация' },
      { url: '#', title: 'СМИ о нас' },
      { url: '#', title: 'Отзывы пациентов' },
      { url: '#', title: 'Наша библиотека' },
      { url: '#', title: 'Каталог видео' }
    ]

block content
  section#about
    .container
      .about.content
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href='/' title='Главная') Главная
          li.breadcrumbs__item
            a(href='#' title='О нас') О нас
          li.breadcrumbs__item
            a(href='/about.html' title='Наша деятельность') Наша деятельность
        .about__header
          h1 О движении
        .about__main
          nav.about-menu
            ul
              each link in menu
                li
                  a(href=link.url title=link.title) #{ link.title } +
          .about__info
            .about__text
              p
                | Межрегиональное общественное движение «Движение против рака» создано онкологическими пациентами, их родственниками, онкологами и людьми неравнодушными к проблеме онкологии. Наша главная цель – помощь онкологическим и онкогематологическим пациентам в реализации прав на: лекарственное обеспечение, своевременную постановку диагноза, доступ к инновационной терапии, получение инвалидности, восстановление.
                br
                | МОД «Движение против рака» активно взаимодействует с органами здравоохранения, онкодиспансерами, врачами онкологами в области соблюдения и реализации прав онкологических и онкогематологических пациентов.
              p Отделения МОД «Движение против рака» действуют в 18 субъектах РФ, это Амурская область, г. Москва, Московская область, Нижегородская область, Новгородская область, Новосибирская область, Омская область, Приморский край, Республика Карелия, Республика Северная Осетия — Алания, Республика Татарстан, Ростовская область, Рязанская область, г. Санкт-Петербург, Самарская область, Свердловская область, Ульяновская область, Челябинская область.
            .about__title
              h4 Что делает «Движение против рака»
            .about__text
              p «Горячая линия» - работа с обращениями онкологических и онкогематологических пациентов и их близких. Тематика вопросов, которые поступают от онкологических и онкогематологических пациентов: незнание своих прав, своевременная диагностика, лекарственное обеспечение, медицинские вопросы, психологические проблемы.
              p
                | Обратиться на «Горячую линию» Движения можно по телефону 
                b 8 800 200 47 32
                | , с 8:00 – 14:00 Мск., звонок бесплатный, написать на электронную почту 
                b info@rakpobedim.ru
                | , в 
                a(href='https://t.me/protivraka2008' target='_blank' title='Перейти') Телеграм канал
                | . Мы всегда готовы помочь вам добиться реализации ваших прав в рамках системы ОМС.
              p
                | Дискуссионные мероприятия и Школы для онкологических пациентов, с привлечением ведущих врачей онкологов, руководителей в сфере здравоохранения на всех уровнях, экспертов по правам пациентов, психологов. 
                a(href='#' target='_blank' title='Посмотреть мероприятия для онкологических и онкогематологических пациентов и их близких') Посмотреть мероприятия для онкологических и онкогематологических пациентов и их близких
                | .
                br
                | Социологические опросы онкологических и онкогематологических пациентов и их близких. 
                a(href='#' target='_blank' title='Мы проводим социологические опросы с целью совершенствования государственных программ онкологической помощи населению') Мы проводим социологические опросы с целью совершенствования государственных программ онкологической помощи населению
                | .
              p
                a(href='#' target='_blank' title='Всероссийский Ежегодный Форум онкологических пациентов «Движение против рака» с участием пациентов, врачей, представителей органов власти, лидеров общественного мнения') Всероссийский Ежегодный Форум онкологических пациентов «Движение против рака» с участием пациентов, врачей, представителей органов власти, лидеров общественного мнения
                | . МОД «Движение против рака» взаимодействует с депутатами Государственной Думы и Федерального Собрания, руководством Минздрава РФ, Росздравнадзора, Фонда обязательного медицинского страхования и органов здравоохранения в регионах. «Движение против рака» добивается принятия решений в интересах онкологических пациентов и совершенствования качества и доступности онкологической помощи.
              p Представители Движения входят в состав Общественного совета и Совета общественных организаций по защите прав пациентов при Минздраве России, Общественного совета по защите прав пациентов при Федеральной службе по надзору в сфере здравоохранения (Росздравнадзор) и его отделениях при территориальных органах Росздравназдора в субъектах РФ.
            .about__title
              h4 За что выступает «Движение против рака»
            .about__text
              p
                | Государственные программы по совершенствованию онкологической помощи, а также система лекарственного обеспечения должны гарантировать доступ всем онкологическим и онкогематологическим пациентам, независимо от стадии заболевания и степени инвалидности, к самым современным и эффективным средствам диагностики и лечения, как это принято в большинстве развитых странах мира.
                br
                | Все расходы на лекарственное обеспечение онкологических пациентов, инновационные методы диагностики индивидуальных характеристик опухоли должно взять на себя государство, гарантирующее оказание бесплатной медицинской помощи.
                br
                | В российской онкологии должны применяться самые современные стандарты и протоколы лечения, отражающие последние достижения медицины и принятые в развитых странах.
  include include/code

public/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Движение против рака</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd ilya.lynd@gmail.com">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link href="/image/favicon-32.png" rel="icon" sizes="32x32">
    <link href="/image/favicon-128.png" rel="icon" sizes="128x128">
    <link href="/image/favicon-180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/image/favicon-192.png" rel="icon" sizes="192x192">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/vendors.css?v=4634f61" rel="stylesheet"><link href="/assets/css/main.css?v=fa649b0" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Движение против рака"><img src="/image/logo-white.png" loading="eager" alt="Движение против рака"><span>Движение против рака</span></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="#" data-action="toggle-menu" title="О нас">О нас</a></li>
          <li><a href="#" title="Защита пациентов">Защита пациентов</a></li>
          <li><a href="#" title="Форум">Форум</a></li>
          <li><a href="/contacts.html" title="Контакты">Контакты</a></li>
          <li><a href="#" title="Отказали в лекарствах?">Отказали в лекарствах?</a></li>
          <li><a href="#" title="Поддержать нас">Поддержать нас</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="toggle-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg><span>Меню</span></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu">
  <div class="menu-overlay" data-action="toggle-menu"></div>
  <div class="container">
    <div class="main content">
      <nav class="main-menu">
        <ul>
          <li><a href="#" data-action="open-submenu" title="О нас">О нас</a></li>
          <li><a href="#" title="Защита пациентов">Защита пациентов</a></li>
          <li><a href="#" title="Всё о рака и лекарствах">Всё о рака и лекарствах</a></li>
          <li><a href="#" title="Отказали в лекарствах?!">Отказали в лекарствах?!</a></li>
          <li><a href="#" title="Форум">Форум</a></li>
          <li class="current"><a href="/contacts.html" title="Контакты">Контакты</a></li>
          <li><a href="#" title="Поддержать нас">Поддержать нас</a></li>
        </ul>
      </nav>
      <nav class="main-submenu">
        <div class="main-submenu__title"><a href="#" data-action="close-submenu" title="O нас">
            <h3>О нас</h3></a></div>
        <ul>
          <li><a href="/about.html" title="Наша деятельность">Наша деятельность</a></li>
          <li><a href="#" title="История движения">История движения</a></li>
          <li><a href="#" title="Наши документы">Наши документы</a></li>
          <li><a href="#" title="Форумы движения">Форумы движения</a></li>
          <li><a href="#" title="Отношения со спонсорами">Отношения со спонсорами</a></li>
          <li><a href="#" title="Новости движения">Новости движения</a></li>
          <li><a href="#" title="Наша презентация">Наша презентация</a></li>
          <li><a href="#" title="СМИ о нас">СМИ о нас</a></li>
          <li><a href="#" title="Отзывы пациентов">Отзывы пациентов</a></li>
          <li><a href="#" title="Наша библиотека">Наша библиотека</a></li>
          <li><a href="#" title="Каталог видео">Каталог видео</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
      <main>
        <section id="about">
          <div class="container">
            <div class="about content">
              <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/" title="Главная">Главная</a></li>
                <li class="breadcrumbs__item"><a href="#" title="О нас">О нас</a></li>
                <li class="breadcrumbs__item"><a href="/about.html" title="Наша деятельность">Наша деятельность</a></li>
              </ul>
              <div class="about__header">
                <h1>О движении</h1>
              </div>
              <div class="about__main">
                <nav class="about-menu">
                  <ul>
                    <li><a href="/about.html" title="Наша деятельность">Наша деятельность +</a></li>
                    <li><a href="#" title="История движения">История движения +</a></li>
                    <li><a href="#" title="Наши документы">Наши документы +</a></li>
                    <li><a href="#" title="Форумы движения">Форумы движения +</a></li>
                    <li><a href="#" title="Отношения со спонсорами">Отношения со спонсорами +</a></li>
                    <li><a href="#" title="Новости движения">Новости движения +</a></li>
                    <li><a href="#" title="Наша презентация">Наша презентация +</a></li>
                    <li><a href="#" title="СМИ о нас">СМИ о нас +</a></li>
                    <li><a href="#" title="Отзывы пациентов">Отзывы пациентов +</a></li>
                    <li><a href="#" title="Наша библиотека">Наша библиотека +</a></li>
                    <li><a href="#" title="Каталог видео">Каталог видео +</a></li>
                  </ul>
                </nav>
                <div class="about__info">
                  <div class="about__text">
                    <p>Межрегиональное общественное движение «Движение против рака» создано онкологическими пациентами, их родственниками, онкологами и людьми неравнодушными к проблеме онкологии. Наша главная цель – помощь онкологическим и онкогематологическим пациентам в реализации прав на: лекарственное обеспечение, своевременную постановку диагноза, доступ к инновационной терапии, получение инвалидности, восстановление.<br>МОД «Движение против рака» активно взаимодействует с органами здравоохранения, онкодиспансерами, врачами онкологами в области соблюдения и реализации прав онкологических и онкогематологических пациентов.</p>
                    <p>Отделения МОД «Движение против рака» действуют в 18 субъектах РФ, это Амурская область, г. Москва, Московская область, Нижегородская область, Новгородская область, Новосибирская область, Омская область, Приморский край, Республика Карелия, Республика Северная Осетия — Алания, Республика Татарстан, Ростовская область, Рязанская область, г. Санкт-Петербург, Самарская область, Свердловская область, Ульяновская область, Челябинская область.</p>
                  </div>
                  <div class="about__title">
                    <h4>Что делает «Движение против рака»</h4>
                  </div>
                  <div class="about__text">
                    <p>«Горячая линия» - работа с обращениями онкологических и онкогематологических пациентов и их близких. Тематика вопросов, которые поступают от онкологических и онкогематологических пациентов: незнание своих прав, своевременная диагностика, лекарственное обеспечение, медицинские вопросы, психологические проблемы.</p>
                    <p>Обратиться на «Горячую линию» Движения можно по телефону <b>8 800 200 47 32</b>, с 8:00 – 14:00 Мск., звонок бесплатный, написать на электронную почту <b>info@rakpobedim.ru</b>, в <a href="https://t.me/protivraka2008" target="_blank" title="Перейти">Телеграм канал</a>. Мы всегда готовы помочь вам добиться реализации ваших прав в рамках системы ОМС.</p>
                    <p>Дискуссионные мероприятия и Школы для онкологических пациентов, с привлечением ведущих врачей онкологов, руководителей в сфере здравоохранения на всех уровнях, экспертов по правам пациентов, психологов. <a href="#" target="_blank" title="Посмотреть мероприятия для онкологических и онкогематологических пациентов и их близких">Посмотреть мероприятия для онкологических и онкогематологических пациентов и их близких</a>.<br>Социологические опросы онкологических и онкогематологических пациентов и их близких. <a href="#" target="_blank" title="Мы проводим социологические опросы с целью совершенствования государственных программ онкологической помощи населению">Мы проводим социологические опросы с целью совершенствования государственных программ онкологической помощи населению</a>.</p>
                    <p><a href="#" target="_blank" title="Всероссийский Ежегодный Форум онкологических пациентов «Движение против рака» с участием пациентов, врачей, представителей органов власти, лидеров общественного мнения">Всероссийский Ежегодный Форум онкологических пациентов «Движение против рака» с участием пациентов, врачей, представителей органов власти, лидеров общественного мнения</a>. МОД «Движение против рака» взаимодействует с депутатами Государственной Думы и Федерального Собрания, руководством Минздрава РФ, Росздравнадзора, Фонда обязательного медицинского страхования и органов здравоохранения в регионах. «Движение против рака» добивается принятия решений в интересах онкологических пациентов и совершенствования качества и доступности онкологической помощи.</p>
                    <p>Представители Движения входят в состав Общественного совета и Совета общественных организаций по защите прав пациентов при Минздраве России, Общественного совета по защите прав пациентов при Федеральной службе по надзору в сфере здравоохранения (Росздравнадзор) и его отделениях при территориальных органах Росздравназдора в субъектах РФ.</p>
                  </div>
                  <div class="about__title">
                    <h4>За что выступает «Движение против рака»</h4>
                  </div>
                  <div class="about__text">
                    <p>Государственные программы по совершенствованию онкологической помощи, а также система лекарственного обеспечения должны гарантировать доступ всем онкологическим и онкогематологическим пациентам, независимо от стадии заболевания и степени инвалидности, к самым современным и эффективным средствам диагностики и лечения, как это принято в большинстве развитых странах мира.<br>Все расходы на лекарственное обеспечение онкологических пациентов, инновационные методы диагностики индивидуальных характеристик опухоли должно взять на себя государство, гарантирующее оказание бесплатной медицинской помощи.<br>В российской онкологии должны применяться самые современные стандарты и протоколы лечения, отражающие последние достижения медицины и принятые в развитых странах.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
<div id="code">
  <div class="container">
    <div class="code content object-wrapper">
      <div class="code__title object">Остались вопросы?<br>Напишите нам!</div>
      <div class="code__group">
        <div class="code-qr">
          <div class="code-qr__image"><img src="/image/qr1.png" loading="lazy" alt="qr"></div>
          <div class="code-qr__image"><img src="/image/qr2.png" loading="lazy" alt="qr"></div>
        </div>
        <ul class="code-social">
          <li class="code-social__link"><a href="https://t.me/protivraka2008" target="_blank" title="Перейти">
              <svg>
                <use href="/image/icon/telegram.svg#telegram"></use>
              </svg></a></li>
          <li class="code-social__link"><a href="mailto:info@rakpobedim.ru" title="Написать">
              <svg>
                <use href="/image/icon/email.svg#email"></use>
              </svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer-logo"><img src="/image/logo.png" loading="lazy" alt="Движение против рака"></div>
      <div class="footer-info">
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>Правовая поддержка онкобольных</h5>
          </div>
          <ul class="footer-info-contacts">
            <li class="footer-info-contacts__item"><a href="//yandex.ru/maps/-/CBQ~7DFxHA" target="_blank" title="Перейти">г. Москва, ул. Александра Солженицына, д. 31, стр. 1</a></li>
            <li class="footer-info-contacts__item"><a href="tel:88002004732" title="Позвонить">8-800-200-47-32</a></li>
            <li class="footer-info-contacts__item"><a href="mailto:info@rakpobedim.ru" title="Написать">info@rakpobedim.ru</a></li>
          </ul>
          <ul class="footer-info-social">
            <li class="footer-info-social__link"><a href="//vk.com/publicdvijenieprotivraka" target="_blank" title="Перейти">
                <svg class="vk">
                  <use href="/image/icon/vk.svg#vk"></use>
                </svg></a></li>
            <li class="footer-info-social__link"><a href="//t.me/protivraka2008" target="_blank" title="Перейти">
                <svg class="telegram">
                  <use href="/image/icon/telegram.svg#telegram"></use>
                </svg></a></li>
            <li class="footer-info-social__link"><a href="#" title="Найти">
                <svg class="search">
                  <use href="/image/icon/search.svg#search"></use>
                </svg></a></li>
          </ul>
        </div>
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>Авторские права</h5>
          </div>
          <div class="footer-info__text">
            <p>Правовые консультации, размещенные на сайте <a href="/" title="Движение против рака">www.rakpobedim.ru</a>, являются исключительной собственностью МОД «Движение против рака» и&nbsp;защищены законодательством РФ об авторском праве и&nbsp;международными соглашениями. Полное или частичное воспроизведение правовых консультаций без&nbsp;письменного разрешения владельца запрещается.</p>
          </div>
        </div>
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>При содействии</h5>
          </div>
          <div class="footer-info__text">
            <p><img src="/image/roszdravnadzor.png" loading="lazy" alt="Росздравнадзор">«Движение против рака»<br>является членом Общественного совета по&nbsp;защите прав пациентов при&nbsp;Росздравнадзоре и Совета общественных организаций по&nbsp;защите прав пациентов при&nbsp;Минздраве России</p>
          </div>
          <div class="footer-info__image"><a href="#" target="_blank" title="Оценить"><img src="/image/rosminzdrav.png" loading="lazy" alt="Минздрав России"></a></div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2005-2023 Движение против рака — все вопросы онкологии</p>
      </div>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=b943b1a"></script><script defer src="/assets/js/main.js?v=61b439d"></script></body>
</html>
