src/view/contacts.pug
extends include/main

block variables
  - let title = 'Движение против рака'
  - let description = ''
  - let page = 'contacts'

block content
  section#contacts
    .container
      .contacts.content
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href='/' title='Главная') Главная
          li.breadcrumbs__item
            a(href='/contacts.html' title='Контакты') Контакты
        .contacts__header
          h1 Контакты
        .contacts-chairman
          .contacts-chairman__group
            .contacts-chairman__image
              img(src='/image/team/photo.jpg' loading='eager' alt='photo')
            .contacts-chairman__name Бокова Светлана Евгеньевна
          .contacts-chairman__info
            .contacts-chairman__position Председатель Исполнительного комитета МОД «Движение против рака», Член Общественного совета при Минздраве  России по проведению независимой оценки качества оказания услуг медицинскими организациями.
            .contacts-chairman__phone Телефон: +7 (985) 765-75-32
            .contacts-chairman__email
              | e-mail: 
              a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
        ul.contacts-list
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/1.png' loading='eager' alt='icon')
              .contacts-list__name Дронов Николай Петрович
              .contacts-list__phone Телефон: +7 (985) 765-75-32
              .contacts-list__email
                | e-mail: 
                a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
              .contacts-list__position
                | Председатель Координационного Совета
                br
                | МОД «Движение против рака», член Совета общественных организаций по защите прав пациентов при Минздраве России
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/2.png' loading='eager' alt='icon')
              .contacts-list__name Крючкова Галина Дмитриевна
              .contacts-list__phone Телефон: +7(958) 835-87-50
              .contacts-list__email
                | e-mail: 
                a(href='mailto:promo@rakpobedim2008.ru' title='Написать') promo@rakpobedim2008.ru
              .contacts-list__position
                | Руководитель направления по продвижению общественно-полезных проектов
                br
                | МОД «Движение против рака», член Общественного совета при Министерстве здравоохранения Московской области
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/3.png' loading='eager' alt='icon')
              .contacts-list__name Зотова Анна Викторовна
              .contacts-list__phone Телефон: 8(800) 200-47-32
              .contacts-list__email
                | e-mail: 
                a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
              .contacts-list__position
                | Руководитель «Горячей линии»
                br
                | МОД «Движение против рака»
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/4.png' loading='eager' alt='icon')
              .contacts-list__name Чистов Андрей Витальевич
              .contacts-list__phone Телефон: 8(800) 200-47-32
              .contacts-list__email
                | e-mail: 
                a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
              .contacts-list__position
                | Руководитель юридической службы
                br
                | МОД «Движение против рака»
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/5.png' loading='eager' alt='icon')
              .contacts-list__name Камаева Татьяна Сергеевна
              .contacts-list__phone Телефон: +7 (939) 803-32-75
              .contacts-list__email
                | e-mail: 
                a(href='mailto:territoria.zed@gmail.com' title='Написать') territoria.zed@gmail.com
              .contacts-list__position
                | Руководитель направления по взаимодействию с региональными отделениями
                br
                | МОД «Движение против рака»
          li.contacts-list__item
            .contacts-list__info
              .contacts-list__text
                p
                  | Пресс-служба МОД «Движение против рака»
                  br
                  br
                  | e-mail: 
                  a(href='mailto:press@ravnoepravo.ru' title='Написать') press@ravnoepravo.ru

public/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Движение против рака</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd ilya.lynd@gmail.com">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link href="/image/favicon-32.png" rel="icon" sizes="32x32">
    <link href="/image/favicon-128.png" rel="icon" sizes="128x128">
    <link href="/image/favicon-180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/image/favicon-192.png" rel="icon" sizes="192x192">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/vendors.css?v=4634f61" rel="stylesheet"><link href="/assets/css/main.css?v=fa649b0" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Движение против рака"><img src="/image/logo-white.png" loading="eager" alt="Движение против рака"><span>Движение против рака</span></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="#" data-action="toggle-menu" title="О нас">О нас</a></li>
          <li><a href="#" title="Защита пациентов">Защита пациентов</a></li>
          <li><a href="#" title="Форум">Форум</a></li>
          <li><a href="/contacts.html" title="Контакты">Контакты</a></li>
          <li><a href="#" title="Отказали в лекарствах?">Отказали в лекарствах?</a></li>
          <li><a href="#" title="Поддержать нас">Поддержать нас</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="toggle-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg><span>Меню</span></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu">
  <div class="menu-overlay" data-action="toggle-menu"></div>
  <div class="container">
    <div class="main content">
      <nav class="main-menu">
        <ul>
          <li><a href="#" data-action="open-submenu" title="О нас">О нас</a></li>
          <li><a href="#" title="Защита пациентов">Защита пациентов</a></li>
          <li><a href="#" title="Всё о рака и лекарствах">Всё о рака и лекарствах</a></li>
          <li><a href="#" title="Отказали в лекарствах?!">Отказали в лекарствах?!</a></li>
          <li><a href="#" title="Форум">Форум</a></li>
          <li class="current"><a href="/contacts.html" title="Контакты">Контакты</a></li>
          <li><a href="#" title="Поддержать нас">Поддержать нас</a></li>
        </ul>
      </nav>
      <nav class="main-submenu">
        <div class="main-submenu__title"><a href="#" data-action="close-submenu" title="O нас">
            <h3>О нас</h3></a></div>
        <ul>
          <li><a href="/about.html" title="Наша деятельность">Наша деятельность</a></li>
          <li><a href="#" title="История движения">История движения</a></li>
          <li><a href="#" title="Наши документы">Наши документы</a></li>
          <li><a href="#" title="Форумы движения">Форумы движения</a></li>
          <li><a href="#" title="Отношения со спонсорами">Отношения со спонсорами</a></li>
          <li><a href="#" title="Новости движения">Новости движения</a></li>
          <li><a href="#" title="Наша презентация">Наша презентация</a></li>
          <li><a href="#" title="СМИ о нас">СМИ о нас</a></li>
          <li><a href="#" title="Отзывы пациентов">Отзывы пациентов</a></li>
          <li><a href="#" title="Наша библиотека">Наша библиотека</a></li>
          <li><a href="#" title="Каталог видео">Каталог видео</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
      <main>
        <section id="contacts">
          <div class="container">
            <div class="contacts content">
              <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/" title="Главная">Главная</a></li>
                <li class="breadcrumbs__item"><a href="/contacts.html" title="Контакты">Контакты</a></li>
              </ul>
              <div class="contacts__header">
                <h1>Контакты</h1>
              </div>
              <div class="contacts-chairman">
                <div class="contacts-chairman__group">
                  <div class="contacts-chairman__image"><img src="/image/team/photo.jpg" loading="eager" alt="photo"></div>
                  <div class="contacts-chairman__name">Бокова Светлана Евгеньевна</div>
                </div>
                <div class="contacts-chairman__info">
                  <div class="contacts-chairman__position">Председатель Исполнительного комитета МОД «Движение против рака», Член Общественного совета при Минздраве  России по проведению независимой оценки качества оказания услуг медицинскими организациями.</div>
                  <div class="contacts-chairman__phone">Телефон: +7 (985) 765-75-32</div>
                  <div class="contacts-chairman__email">e-mail: <a href="mailto:info@rakpobedim.ru" title="Написать">info@rakpobedim.ru</a></div>
                </div>
              </div>
              <ul class="contacts-list">
                <li class="contacts-list__item">
                  <div class="contacts-list__image"><img src="/image/team/photo.jpg" loading="lazy" alt="photo"></div>
                  <div class="contacts-list__info">
                    <div class="contacts-list__icon"><img src="/image/icon/1.png" loading="eager" alt="icon"></div>
                    <div class="contacts-list__name">Дронов Николай Петрович</div>
                    <div class="contacts-list__phone">Телефон: +7 (985) 765-75-32</div>
                    <div class="contacts-list__email">e-mail: <a href="mailto:info@rakpobedim.ru" title="Написать">info@rakpobedim.ru</a></div>
                    <div class="contacts-list__position">Председатель Координационного Совета<br>МОД «Движение против рака», член Совета общественных организаций по защите прав пациентов при Минздраве России</div>
                  </div>
                </li>
                <li class="contacts-list__item">
                  <div class="contacts-list__image"><img src="/image/team/photo.jpg" loading="lazy" alt="photo"></div>
                  <div class="contacts-list__info">
                    <div class="contacts-list__icon"><img src="/image/icon/2.png" loading="eager" alt="icon"></div>
                    <div class="contacts-list__name">Крючкова Галина Дмитриевна</div>
                    <div class="contacts-list__phone">Телефон: +7(958) 835-87-50</div>
                    <div class="contacts-list__email">e-mail: <a href="mailto:promo@rakpobedim2008.ru" title="Написать">promo@rakpobedim2008.ru</a></div>
                    <div class="contacts-list__position">Руководитель направления по продвижению общественно-полезных проектов<br>МОД «Движение против рака», член Общественного совета при Министерстве здравоохранения Московской области</div>
                  </div>
                </li>
                <li class="contacts-list__item">
                  <div class="contacts-list__image"><img src="/image/team/photo.jpg" loading="lazy" alt="photo"></div>
                  <div class="contacts-list__info">
                    <div class="contacts-list__icon"><img src="/image/icon/3.png" loading="eager" alt="icon"></div>
                    <div class="contacts-list__name">Зотова Анна Викторовна</div>
                    <div class="contacts-list__phone">Телефон: 8(800) 200-47-32</div>
                    <div class="contacts-list__email">e-mail: <a href="mailto:info@rakpobedim.ru" title="Написать">info@rakpobedim.ru</a></div>
                    <div class="contacts-list__position">Руководитель «Горячей линии»<br>МОД «Движение против рака»</div>
                  </div>
                </li>
                <li class="contacts-list__item">
                  <div class="contacts-list__image"><img src="/image/team/photo.jpg" loading="lazy" alt="photo"></div>
                  <div class="contacts-list__info">
                    <div class="contacts-list__icon"><img src="/image/icon/4.png" loading="eager" alt="icon"></div>
                    <div class="contacts-list__name">Чистов Андрей Витальевич</div>
                    <div class="contacts-list__phone">Телефон: 8(800) 200-47-32</div>
                    <div class="contacts-list__email">e-mail: <a href="mailto:info@rakpobedim.ru" title="Написать">info@rakpobedim.ru</a></div>
                    <div class="contacts-list__position">Руководитель юридической службы<br>МОД «Движение против рака»</div>
                  </div>
                </li>
                <li class="contacts-list__item">
                  <div class="contacts-list__image"><img src="/image/team/photo.jpg" loading="lazy" alt="photo"></div>
                  <div class="contacts-list__info">
                    <div class="contacts-list__icon"><img src="/image/icon/5.png" loading="eager" alt="icon"></div>
                    <div class="contacts-list__name">Камаева Татьяна Сергеевна</div>
                    <div class="contacts-list__phone">Телефон: +7 (939) 803-32-75</div>
                    <div class="contacts-list__email">e-mail: <a href="mailto:territoria.zed@gmail.com" title="Написать">territoria.zed@gmail.com</a></div>
                    <div class="contacts-list__position">Руководитель направления по взаимодействию с региональными отделениями<br>МОД «Движение против рака»</div>
                  </div>
                </li>
                <li class="contacts-list__item">
                  <div class="contacts-list__info">
                    <div class="contacts-list__text">
                      <p>Пресс-служба МОД «Движение против рака»<br><br>e-mail: <a href="mailto:press@ravnoepravo.ru" title="Написать">press@ravnoepravo.ru</a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer-logo"><img src="/image/logo.png" loading="lazy" alt="Движение против рака"></div>
      <div class="footer-info">
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>Правовая поддержка онкобольных</h5>
          </div>
          <ul class="footer-info-contacts">
            <li class="footer-info-contacts__item"><a href="//yandex.ru/maps/-/CBQ~7DFxHA" target="_blank" title="Перейти">г. Москва, ул. Александра Солженицына, д. 31, стр. 1</a></li>
            <li class="footer-info-contacts__item"><a href="tel:88002004732" title="Позвонить">8-800-200-47-32</a></li>
            <li class="footer-info-contacts__item"><a href="mailto:info@rakpobedim.ru" title="Написать">info@rakpobedim.ru</a></li>
          </ul>
          <ul class="footer-info-social">
            <li class="footer-info-social__link"><a href="//vk.com/publicdvijenieprotivraka" target="_blank" title="Перейти">
                <svg class="vk">
                  <use href="/image/icon/vk.svg#vk"></use>
                </svg></a></li>
            <li class="footer-info-social__link"><a href="//t.me/protivraka2008" target="_blank" title="Перейти">
                <svg class="telegram">
                  <use href="/image/icon/telegram.svg#telegram"></use>
                </svg></a></li>
            <li class="footer-info-social__link"><a href="#" title="Найти">
                <svg class="search">
                  <use href="/image/icon/search.svg#search"></use>
                </svg></a></li>
          </ul>
        </div>
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>Авторские права</h5>
          </div>
          <div class="footer-info__text">
            <p>Правовые консультации, размещенные на сайте <a href="/" title="Движение против рака">www.rakpobedim.ru</a>, являются исключительной собственностью МОД «Движение против рака» и&nbsp;защищены законодательством РФ об авторском праве и&nbsp;международными соглашениями. Полное или частичное воспроизведение правовых консультаций без&nbsp;письменного разрешения владельца запрещается.</p>
          </div>
        </div>
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>При содействии</h5>
          </div>
          <div class="footer-info__text">
            <p><img src="/image/roszdravnadzor.png" loading="lazy" alt="Росздравнадзор">«Движение против рака»<br>является членом Общественного совета по&nbsp;защите прав пациентов при&nbsp;Росздравнадзоре и Совета общественных организаций по&nbsp;защите прав пациентов при&nbsp;Минздраве России</p>
          </div>
          <div class="footer-info__image"><a href="#" target="_blank" title="Оценить"><img src="/image/rosminzdrav.png" loading="lazy" alt="Минздрав России"></a></div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2005-2023 Движение против рака — все вопросы онкологии</p>
      </div>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=b943b1a"></script><script defer src="/assets/js/main.js?v=61b439d"></script></body>
</html>
