src/view/news.pug
extends include/main

block variables
  - let title = 'Движение против рака'
  - let description = ''
  - let page = 'news'

block content
  section#news
    .container
      .news.content
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href='/' title='Главная') Главная
          li.breadcrumbs__item
            a(href='/news.html' title='Новости и анонсы') Новости и анонсы
        .news__header
          h1 Новости и анонсы
        ul.news-list
          - for (let i = 1; i <= 10; i++)
            .news-list__item
              .news-list__title
                a(href='/article.html' title='Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля')
                  h4 Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля
              .news-list__text
                p Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...
              .news-list__group
                time.news-list__date(datetime='') 23.01.2023
                .news-list__link
                  a(href='/article.html' title='Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля')
                    svg
                      use(href='/image/icon/arrow-link.svg#arrow')
        ul.news-pagination
          lu.news-pagination__item.current
            a(href='#' title='Листать дальше') 1
          - for (let i = 2; i <= 7; i++)
            lu.news-pagination__item
              a(href='#' title='Листать дальше') #{ i }
  section#last-themes
    .container
      .last-themes.content
        .last-themes__title
          h2 // Последние темы
        ul.last-themes-list.swiper-wrapper
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Виротерапия. Вирусы')
              .last-themes-list__title
                h3 Виротерапия. Вирусы
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 19.01.2023, 12:33
                .last-themes-list__rubric • Чем и как лечимся
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Обухом по голове или рак молочной железы')
              .last-themes-list__title
                h3 Обухом по голове или рак молочной железы
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 19.01.2023, 12:33
                .last-themes-list__rubric • Моя история
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Меланома. Диагностика после удаления опухоли')
              .last-themes-list__title
                h3 Меланома. Диагностика после удаления опухоли
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 30.01.2023, 13:49
                .last-themes-list__rubric • Моя история
  include include/code

public/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Движение против рака</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd ilya.lynd@gmail.com">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link href="/image/favicon-32.png" rel="icon" sizes="32x32">
    <link href="/image/favicon-128.png" rel="icon" sizes="128x128">
    <link href="/image/favicon-180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/image/favicon-192.png" rel="icon" sizes="192x192">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/vendors.css?v=4634f61" rel="stylesheet"><link href="/assets/css/main.css?v=fa649b0" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Движение против рака"><img src="/image/logo-white.png" loading="eager" alt="Движение против рака"><span>Движение против рака</span></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="#" data-action="toggle-menu" title="О нас">О нас</a></li>
          <li><a href="#" title="Защита пациентов">Защита пациентов</a></li>
          <li><a href="#" title="Форум">Форум</a></li>
          <li><a href="/contacts.html" title="Контакты">Контакты</a></li>
          <li><a href="#" title="Отказали в лекарствах?">Отказали в лекарствах?</a></li>
          <li><a href="#" title="Поддержать нас">Поддержать нас</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="toggle-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg><span>Меню</span></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu">
  <div class="menu-overlay" data-action="toggle-menu"></div>
  <div class="container">
    <div class="main content">
      <nav class="main-menu">
        <ul>
          <li><a href="#" data-action="open-submenu" title="О нас">О нас</a></li>
          <li><a href="#" title="Защита пациентов">Защита пациентов</a></li>
          <li><a href="#" title="Всё о рака и лекарствах">Всё о рака и лекарствах</a></li>
          <li><a href="#" title="Отказали в лекарствах?!">Отказали в лекарствах?!</a></li>
          <li><a href="#" title="Форум">Форум</a></li>
          <li class="current"><a href="/contacts.html" title="Контакты">Контакты</a></li>
          <li><a href="#" title="Поддержать нас">Поддержать нас</a></li>
        </ul>
      </nav>
      <nav class="main-submenu">
        <div class="main-submenu__title"><a href="#" data-action="close-submenu" title="O нас">
            <h3>О нас</h3></a></div>
        <ul>
          <li><a href="/about.html" title="Наша деятельность">Наша деятельность</a></li>
          <li><a href="#" title="История движения">История движения</a></li>
          <li><a href="#" title="Наши документы">Наши документы</a></li>
          <li><a href="#" title="Форумы движения">Форумы движения</a></li>
          <li><a href="#" title="Отношения со спонсорами">Отношения со спонсорами</a></li>
          <li><a href="#" title="Новости движения">Новости движения</a></li>
          <li><a href="#" title="Наша презентация">Наша презентация</a></li>
          <li><a href="#" title="СМИ о нас">СМИ о нас</a></li>
          <li><a href="#" title="Отзывы пациентов">Отзывы пациентов</a></li>
          <li><a href="#" title="Наша библиотека">Наша библиотека</a></li>
          <li><a href="#" title="Каталог видео">Каталог видео</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
      <main>
        <section id="news">
          <div class="container">
            <div class="news content">
              <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/" title="Главная">Главная</a></li>
                <li class="breadcrumbs__item"><a href="/news.html" title="Новости и анонсы">Новости и анонсы</a></li>
              </ul>
              <div class="news__header">
                <h1>Новости и анонсы</h1>
              </div>
              <ul class="news-list">
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="news-list__item">
                  <div class="news-list__title"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                      <h4>Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля</h4></a></div>
                  <div class="news-list__text">
                    <p>Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...</p>
                  </div>
                  <div class="news-list__group">
                    <time class="news-list__date" datetime="">23.01.2023</time>
                    <div class="news-list__link"><a href="/article.html" title="Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля">
                        <svg>
                          <use href="/image/icon/arrow-link.svg#arrow"></use>
                        </svg></a></div>
                  </div>
                </div>
              </ul>
              <ul class="news-pagination">
                <lu class="news-pagination__item current"><a href="#" title="Листать дальше">1</a></lu>
                <lu class="news-pagination__item"><a href="#" title="Листать дальше">2</a></lu>
                <lu class="news-pagination__item"><a href="#" title="Листать дальше">3</a></lu>
                <lu class="news-pagination__item"><a href="#" title="Листать дальше">4</a></lu>
                <lu class="news-pagination__item"><a href="#" title="Листать дальше">5</a></lu>
                <lu class="news-pagination__item"><a href="#" title="Листать дальше">6</a></lu>
                <lu class="news-pagination__item"><a href="#" title="Листать дальше">7</a></lu>
              </ul>
            </div>
          </div>
        </section>
        <section id="last-themes">
          <div class="container">
            <div class="last-themes content">
              <div class="last-themes__title">
                <h2>// Последние темы</h2>
              </div>
              <ul class="last-themes-list swiper-wrapper">
                <li class="last-themes-list__item swiper-slide"><a href="#" title="Виротерапия. Вирусы">
                    <div class="last-themes-list__title">
                      <h3>Виротерапия. Вирусы</h3>
                    </div>
                    <div class="last-themes-list__group">
                      <time class="last-themes-list__date" datetime="">19.01.2023, 12:33</time>
                      <div class="last-themes-list__rubric">• Чем и как лечимся</div>
                    </div></a></li>
                <li class="last-themes-list__item swiper-slide"><a href="#" title="Обухом по голове или рак молочной железы">
                    <div class="last-themes-list__title">
                      <h3>Обухом по голове или рак молочной железы</h3>
                    </div>
                    <div class="last-themes-list__group">
                      <time class="last-themes-list__date" datetime="">19.01.2023, 12:33</time>
                      <div class="last-themes-list__rubric">• Моя история</div>
                    </div></a></li>
                <li class="last-themes-list__item swiper-slide"><a href="#" title="Меланома. Диагностика после удаления опухоли">
                    <div class="last-themes-list__title">
                      <h3>Меланома. Диагностика после удаления опухоли</h3>
                    </div>
                    <div class="last-themes-list__group">
                      <time class="last-themes-list__date" datetime="">30.01.2023, 13:49</time>
                      <div class="last-themes-list__rubric">• Моя история</div>
                    </div></a></li>
              </ul>
            </div>
          </div>
        </section>
<div id="code">
  <div class="container">
    <div class="code content object-wrapper">
      <div class="code__title object">Остались вопросы?<br>Напишите нам!</div>
      <div class="code__group">
        <div class="code-qr">
          <div class="code-qr__image"><img src="/image/qr1.png" loading="lazy" alt="qr"></div>
          <div class="code-qr__image"><img src="/image/qr2.png" loading="lazy" alt="qr"></div>
        </div>
        <ul class="code-social">
          <li class="code-social__link"><a href="https://t.me/protivraka2008" target="_blank" title="Перейти">
              <svg>
                <use href="/image/icon/telegram.svg#telegram"></use>
              </svg></a></li>
          <li class="code-social__link"><a href="mailto:info@rakpobedim.ru" title="Написать">
              <svg>
                <use href="/image/icon/email.svg#email"></use>
              </svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer-logo"><img src="/image/logo.png" loading="lazy" alt="Движение против рака"></div>
      <div class="footer-info">
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>Правовая поддержка онкобольных</h5>
          </div>
          <ul class="footer-info-contacts">
            <li class="footer-info-contacts__item"><a href="//yandex.ru/maps/-/CBQ~7DFxHA" target="_blank" title="Перейти">г. Москва, ул. Александра Солженицына, д. 31, стр. 1</a></li>
            <li class="footer-info-contacts__item"><a href="tel:88002004732" title="Позвонить">8-800-200-47-32</a></li>
            <li class="footer-info-contacts__item"><a href="mailto:info@rakpobedim.ru" title="Написать">info@rakpobedim.ru</a></li>
          </ul>
          <ul class="footer-info-social">
            <li class="footer-info-social__link"><a href="//vk.com/publicdvijenieprotivraka" target="_blank" title="Перейти">
                <svg class="vk">
                  <use href="/image/icon/vk.svg#vk"></use>
                </svg></a></li>
            <li class="footer-info-social__link"><a href="//t.me/protivraka2008" target="_blank" title="Перейти">
                <svg class="telegram">
                  <use href="/image/icon/telegram.svg#telegram"></use>
                </svg></a></li>
            <li class="footer-info-social__link"><a href="#" title="Найти">
                <svg class="search">
                  <use href="/image/icon/search.svg#search"></use>
                </svg></a></li>
          </ul>
        </div>
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>Авторские права</h5>
          </div>
          <div class="footer-info__text">
            <p>Правовые консультации, размещенные на сайте <a href="/" title="Движение против рака">www.rakpobedim.ru</a>, являются исключительной собственностью МОД «Движение против рака» и&nbsp;защищены законодательством РФ об авторском праве и&nbsp;международными соглашениями. Полное или частичное воспроизведение правовых консультаций без&nbsp;письменного разрешения владельца запрещается.</p>
          </div>
        </div>
        <div class="footer-info__block">
          <div class="footer-info__title">
            <h5>При содействии</h5>
          </div>
          <div class="footer-info__text">
            <p><img src="/image/roszdravnadzor.png" loading="lazy" alt="Росздравнадзор">«Движение против рака»<br>является членом Общественного совета по&nbsp;защите прав пациентов при&nbsp;Росздравнадзоре и Совета общественных организаций по&nbsp;защите прав пациентов при&nbsp;Минздраве России</p>
          </div>
          <div class="footer-info__image"><a href="#" target="_blank" title="Оценить"><img src="/image/rosminzdrav.png" loading="lazy" alt="Минздрав России"></a></div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2005-2023 Движение против рака — все вопросы онкологии</p>
      </div>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=b943b1a"></script><script defer src="/assets/js/main.js?v=61b439d"></script></body>
</html>
